<section id="section-notes" class="col-xs-11" ng-controller="notesCtrl">
    <div class="clearfix container">
        <div class="section-heading col-xs-12 col-md-4 ">
            <h2>Notes</h2> 
        </div>
        <div class="col-xs-12 col-md-8">
            <ul class="admin-opt">
                <li class="active"><a href="javascript:void(0)" ng-click="notesListDB()" id="noteslisttab" data-toggle="tab"  data-target="#notes-list">Notes List</a></li>
                <li><a href="javascript:void(0)" data-toggle="tab" ng-click="notesListDB()"  data-target="#add-note">Add Note</a></li>
                <li class="hidden"><a href="javascript:void(0)" data-toggle="tab"  data-target="#edit-note">Edit Note</a></li>

            </ul>
        </div>
    </div>

    <div class="tab-content container">
        <section id="notes-list" class="tab-pane fade in active col-xs-12">


            <div class="alert delete_note_success alert-success hidden" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                Note deleted successfully!!!
            </div>		
            <div class="col-xs-12 table-responsive  table-box">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="bg-info">
                            <th>SN.</th>
                            <th>Created Date</th>
                            <th>Notes</th>
                        </tr></thead>
                    <tbody>
                        <tr ng-repeat="x in notesrecord track by $index">
                            <td><span>{{$index + 1}}</span></td>
                            <td><span>{{x.createddate|'date'}}</span></td>
                            <td><span>{{x.notes}}</span></td>
                            <td>
                                <a href="javascript:void(0)" class="action" ng-click="edit_notes(x.NotesId)"><span class="glyphicon glyphicon-pencil text-green"></span></a>
                                <a href="javascript:void(0)" class="action" ng-click="delete_note(x.NotesId)" ng-confirm-click="You are about to delete note from list !! Are you SURE you want to delete?"><span class="glyphicon glyphicon-remove text-red"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </section>
        <section id="add-note" class="tab-pane fade">

            <div class="col-xs-12 col-md-8 table-box">
                <div class="alert successadded alert-success hidden" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Success:</span>
                    Note added successfully!!!
                </div>		
                <form method="POST" id="addNoteform"   >
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <label class="titletxt">Property</label>
                        </div>
                        <div class="col-xs-6"><input type="textArea" required class="form-control" required ng-model="note.notes" /></div></div>
                    <div class="col-xs-12">
                        <div class="col-xs-6"><label class="titletxt">Property</label></div>
                        <div class="col-xs-6"><input type="text" class="form-control" required ng-model="note.PropertyId" /></div></div>
                    <div class="col-xs-12">
                        <div class="col-xs-6"><label class="titletxt">Buyer</label></div>
                        <div class="col-xs-6"><input type="text" class="form-control" required ng-model="note.BuyerId" /></div></div>
                    <div class="col-xs-12">
                        <div class="col-xs-6"><label class="titletxt">Seller</label></div>
                        <div class="col-xs-6"><input type="text" class="form-control" required ng-model="note.SellerId" /></div>
                    </div>
                    <div class="col-xs-12">
                    </div>
                </form>
            </div>	
        </section>

    </div>
</section> 